<%- include('../partials/header') %>
<h2 class="text-success mb-3">Crear Proyecto</h2>
<form action="/proyectos/crear" method="POST" class="w-50 card p-4">
    <div class="mb-3">
        <label class="form-label">Nombre del Proyecto:</label>
        <input type="text" name="nombre" class="form-control" required>
    </div>
    <div class="mb-3">
        <label class="form-label">Descripción:</label>
        <textarea name="descripcion" class="form-control" required></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Cliente:</label>
        <select name="cliente_id" class="form-control" required>
            <% clientes.forEach((c)=>{ %>
                <option value="<%=c.id%>"><%=c.nombre%></option>
            <% }) %>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Estado:</label>
        <select name="estado_id" class="form-control" required>
            <% estados.forEach((e)=>{ %>
                <option value="<%=e.id%>"><%=e.nombre%></option>
            <% }) %>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
<%- include('../partials/footer') %>